---
title: Joni Korpi
---

.viewport.active-viewport.root-viewport#root
  .canvas
    .fg

      .category.viewport#new-work
        .canvas
          .fg
            %header.section-header
              %h1 New Work
          = partial "viewport-controls"

      .category.viewport#grid-systems
        .canvas
          .fg
            %header.section-header
              %h1 Grid Systems
            = partial "contents/less-framework"
            = partial "contents/frameless"
            = partial "contents/golden-grid-system"
          = partial "viewport-controls"

      .category.viewport#old-work
        .canvas
          .fg
            %header.section-header
              %h1 Old Work
            = partial "contents/netmag-adaptive-static-design"
            = partial "contents/little-picture"
          = partial "viewport-controls"

      .category.viewport#about
        .canvas
          .fg
            %header.section-header
              %h1 About Me
          = partial "viewport-controls"
